<redis_listen>
	<redis_config>
		<IP value = "127.0.0.1"/>
		<Port value = "6379"/>
		<Mode value = "10"/>
	</redis_config>
	<redis_get>
		<time_span value = "100"/>
		<key_count value = "2"/>
		<key_0 value = "key_1"/>
		<key_1 value = "key_2"/>
	</redis_get>
	<redis_sub>
		<channel_count value = "-1"/>
	</redis_sub>
</redis_listen>